<li class="nav-item dropdown" dropdown *ngIf="isOpen">
    <a dropdownToggle class="nav-link dropdown-toggle">
        <img class="avatar" [src]="user.avatar" [alt]="user.name" *ngIf="false">
        {{user.name}} <span class="caret"></span>
    </a>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" routerLink="/settings">Cập nhập thông tin</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/settings/change-password">Đổi mật khẩu</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/support">Hỗ trợ</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" (click)="onClickLogout($event)">Thoát</a>
        </li>
    </ul>
</li>