<li class="nav-item dropdown" dropdown *ngIf="authSrv.isLoggedIn()">
    <a dropdownToggle class="nav-link dropdown-toggle">
        Trần Minh Quý <span class="caret"></span>
    </a>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#">Cập nhập thông tin</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Hỗ trợ</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" (click)="onClickLogout($event)">Thoát</a>
        </li>
    </ul>
</li>