@import "../../../../scss/bootstrap-custom/variables";

.vote {
    text-align: center;
    position: relative;
    top: -14px;

    &.voteable {
        .up, .down {
            &:not(.active) {
                cursor: pointer;
            }
        }
    }

    .up, .down {
        i {
            font-size: 40px;
        }

        &.active {
            color: $brand-primary;
        }
    }
}