<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <ul class="list-group list-classes">
            <li class="list-group-item" *ngFor="let class_ of classes">
                <div class="group">
                    <h2 class="name"><a>{{class_.name}} -{{class_.code}}</a></h2>
                    <div class="teacher">
                        <span>Giảng viên:</span>
                        <span class="number">{{class_.teacher_name}}</span>
                    </div>
                    <div class="number_students">
                        <span>Sinh viên:</span>
                        <span class="number">{{class_.student_count}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
