<div class="sidebar-top-users-wrapper">
    <div class="ed-box">
        <h3 class="title-sidebar">Bảng xếp hạng</h3>
        <ul class="users">
            <li class="mb-2" *ngFor="let user of users">
                <div class="user d-flex align-items-center">
                    <ed-user-avatar class="mr-1" [src]="user.avatar"></ed-user-avatar>
                    <span class="name mr-auto">{{user.name}}</span>
                    <span class="point">{{user.point_count}} EP</span>
                </div>
            </li>
        </ul>
    </div>
</div>
