<div class="group">
    <div class="author ed-border-left" *ngIf="!post.is_incognito">
        <img class="avatar mr-2" [src]="post.author.avatar" alt="">
        <div class="name">
            <div>Người đăng</div>
            <div>{{post.author.name}}</div>
        </div>
    </div>
    <div class="author ed-border-left" *ngIf="post.is_incognito">
        <img class="avatar mr-2" [src]="'assets/images/incognito.png'" alt="">
        <div class="name">
            <div>Người đăng</div>
            <div>Ẩn danh</div>
        </div>
    </div>
    <div class="comments ed-border-left">
        <div>Bình luận</div>
        <div>{{post.comment_count}}</div>
    </div>
    <div class="time ed-border-left">
        <div>Ngày đăng</div>
        <div>{{post.created_at | date }}</div>
    </div>
    <div class="votes ed-border-left">
        <div>Bình chọn</div>
        <div>{{post.vote_count}}</div>
    </div>
    <div class="clearfix"></div>
</div>