.author,
.comments,
.time,
.votes {
    display: inline-block;
    padding-left: 12px;
    margin-right: 35px;
    color: #333;
    font-size: 12px;

    > :first-child {
        font-size: 10px;
        color: #999;
    }
}

.author {
    .avatar {
        max-height: 30px;
        width: auto;
        border-radius: 50%;
    }

    .name {
        display: inline-block;

        :last-child {
            color: #333;
        }
    }
}