<div class="post-item-wrapper mb-2 py-4" [class.seen]="post.is_seen">
    <h2 class="title">
        <a [routerLink]="['/a/post/', post.id]"><span class="type {{post.type}}"></span>{{post.title}}</a>
    </h2>

    <div class="content mb-2">
        {{post.description}}
    </div>

    <div class="metadata mb-2">
        <ed-post-metadata [post]="post"></ed-post-metadata>
    </div>

    <div class="read-more">
        <a class="go-comment" *ngIf="!post.is_solve">Cùng tham gia trả lời và bình luận</a>
        <a class="solved" *ngIf="post.is_solve">Chủ đề này đã được giải quyết</a>
    </div>
</div>