.title {
    font-size: 26px;
    font-weight: 700;
}

.main-content {

    .left {
        float: left;
        width: 100px;
    }

    .right {
        margin-left: 100px;
        padding-top: 10px;
    }
}