<div class="post-detail-wrapper" [ngClass]="post.type">
    <div class="ed-box">
        <div class="main-content mb-2 pb-3">
            <div class="left">
                <ed-vote-post [votes]="post.votes"
                              (vote)="onVote($event)"
                              [author]="post.author">
                </ed-vote-post>
            </div>

            <div class="right">
                <h1 class="title mb-3">{{post.title}}</h1>

                <div class="content mb-2" [innerHtml]="post.content">
                </div>

                <div class="metadata mb-2">
                    <ed-post-metadata [post]="post"></ed-post-metadata>
                </div>
            </div>
        </div>

        <div class="list-comments">
            <ed-comment
                    (update)="onCommentUpdate()"
                    *ngFor="let comment of post.comments"
                    [comment]="comment"></ed-comment>
        </div>

        <div class="answer">
            <ed-create-comment></ed-create-comment>
        </div>
    </div>
</div>