.title {
    font-size: 26px;
    font-weight: 700;
}

.main-content {
    border-bottom: 1px solid #eee;

    .left {
        float: left;
        width: 100px;
    }

    .right {
        margin-left: 100px;
        padding-top: 10px;
    }
}