#footer {
    background-color: #4a4a4a;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    .container {
        padding-top: 39px;
        padding-bottom: 39px;
        text-align: center;
    }
}